.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 90px;
    background-color: var(--player-bg);
}
// controls left
.player_control_left {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 30%;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
}
.item_img {
    border-radius: 4px;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item_img img {
    width: 64px;
    height: 64px;
}
.media_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 155px;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;

    -webkit-mask-image: linear-gradient(270deg, transparent 0.5%, #000 10%);
}
.item_title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.36;
    padding-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    &:hover {
        text-overflow: unset;
        animation: slideLeft ease-out 3s infinite;
        overflow: hidden;
    }
}
.item_subtitle {
    font-weight: 400;
    font-size: 12px;
    margin-top: 1px;
    color: var(--text-secondary);
    padding-right: 10px;
    &:hover {
        color: var(--link-text-hover);
        text-decoration: underline;
    }
}
.media_custom {
    display: flex;
    align-items: center;
    margin-left: 10px;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}
.btn_controls {
    width: 16px;
    height: 16px;
}
//controls centerplayer_controls_center
.player_controls_center {
    flex-grow: 1;
    max-width: 40vw;
}
.player_controls_center_container {
}
.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.progress_full {
}

.time_start {
    margin: 0 10px;
    width: 50px;
}
.time_end {
    margin: 0 10px;
    width: 50px;
}
.duration_bar {
    display: flex;
}
.progress_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: transparent;
}

//controls right

.player_control_right {
    display: flex;
    width: 30%;
    flex-direction: row;
    margin-right: 20px;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
}

.player_controls_right_container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.controls_item :hover .player_input_vol {
    padding: 20px;
}
.player_input_vol {
    display: flex;
    align-items: center;
    width: 80px;
}
.devide {
    width: 1px;
    height: 40px;
    background-color: var(--border-player);
    margin: 0 20px;
}
.queueOff {
    background-color: hsla(0, 0%, 100%, 0.4) !important;
    border-radius: 4px;
    color: var(--text-primary);
    padding: 0 !important;
    height: 30px;
    width: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.queueOn {
    background-color: var(--purple-primary) !important;
    border-radius: 4px;
    color: var(--white);
    padding: 0 !important;
    height: 30px;
    width: 27px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes slideLeft {
    from {
        transform: translateX(10%);
    }
    to {
        transform: translateX(-30%);
    }
}
