.wrapper {
    background-color: transparent;
    padding: 12px 20px 12px 17px;
    cursor: pointer;
    display: flex;
    align-items: center;
    max-width: 240px;
    &.wrapper {
        margin-right: 12px;
    }
}

//Type button
.primary {
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-blur-bg);
    padding: 10px 24px;
    color: #c273ed;

    &:hover {
        color: #af68d5;
    }
}
.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
    margin-right: 8px;
    font-size: 18px;
    width: 40px;
    height: 40px;
    background-color: var(--primary-blur-bg);

    &:hover {
        filter: brightness(0.9);
    }
}
.text {
    width: 240px;
}
// Sizes
.normal {
    font-size: 14px;
    font-weight: 600;
    height: 40px;
}

// Custom Icons

.left_icon,
.main_icon,
.right_icon {
    width: 20px;
    height: 20px;
    font-size: 18px;
}
.left_icon {
    margin-right: 10px;
}
.right_icon {
    margin-left: 10px;
}
 