.wrapper {
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 25px;
    max-width: 240px;
}

//Type button
.primary {
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-blur-bg);
    padding: 10px 24px;
    margin-right: 12px;
    color: #c273ed;
    padding: 12px 20px 12px 17px;
    &:hover {
        color: #af68d5;
    }
}
.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
    margin-right: 8px;
    font-size: 18px;
    width: 40px;
    height: 40px;
    background-color: var(--primary-blur-bg);
    &:hover {
        filter: brightness(0.9);
    }
}
.circle_hide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%; 
    width: 32px;
    height: 32px;
    font-size: 20px;
    padding: 10px;
    margin: 0 10px;
    &:hover {
        filter: brightness(0.9);
        background-color: var(--primary-blur-bg);
    }
}
.text {
    width: 240px;
    height: 44px;
    padding: 12px 20px 12px 17px;
}
.border {
    font-size: 40px;
    padding: 5px;
    :hover {
        color: var(--link-text-hover    )
    }
}
// Sizes
.normal {
    font-size: 14px;
    font-weight: 600;
    height: 40px;
}

// Custom Icons

.left_icon,
.main_icon,
.right_icon {
    width: 20px;
    height: 20px;
    font-size: 18px;
}
.left_icon {
    margin-right: 10px;
}
.right_icon {
    margin-left: 10px;
}
//custom border on button menu
.spederate {
    border-top: 1px solid #493961;
    width: 100%;
}
