.wrapper {
    display: flex;
    overflow: hidden;
    height: calc(100vh - 90px);
}
.sidbar {
    height: calc(100vh - 90px);
    width: 240px;

    @media (max-width: 1130px) {
        //tablet
        width: 70px;
    }
}

.main_page {
    background-color: var(--primary);
    width: calc(100% - 240px);
    overflow: hidden scroll;
    padding: var(--padding-section);

    @media (max-width: 1130px) {
        //tablet
        width: calc(100% - 70px);
    }
}
.content {
    margin-top: 70px;
    height: 100%;
}
