.wrapper {
    display: flex; 

}
.sidbar {
    height: calc(100vh - 90px);
    width: 240px;
}

.main_page {
    background-color: var(--primary);
    width: calc(100% - 240px);
}
.content {
    margin-top: 70px;
    height: 100%;
} 