:root {
    //color
    --primary: #170f23;
    --border-player: hsla(0, 0%, 100%, 0.1);
    --text-primary: #fff;
    --button-hide: #595362;
    --search-text: #dadada;
    --primary-bg: #34224f;
    --primary-blur-bg: #2e2739;
    --text-secondary: hsla(0, 0%, 100%, 0.5);
    --hover-blur-bg: hsla(0, 0%, 100%, 0.1);
    --text-blur: #756a87;
    --sidebar-bg: #231b2e;
    --purple-primary: #9b4de0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//font family
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800');
html {
    font-size: 14px;
}
body {
    font-family: 'Inter', sans-serif;
    color: var(--text-primary);
}

button,
input {
    outline: none;
    text-decoration: none;
    color: var(--text-primary);
    border: 1px solid transparent;
}
a[href] {
    text-decoration: none;
    color: var(--text-primary);
}
li {
    list-style-type: none;
}
.tippy-content {
    background-color: #333;
    padding: 3px 5px 5px 5px;
    border-radius: 4px;
    font-size: 12px;
}
.tippy-box[data-pl4cem5nt^='bottom'] > .tippy-arrow:before {
    color: #333;
    top: -8px;
}

.is-collap {
    background-color: var(--primary-bg);
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    :focus-within:has(input:focus) {
        background-color: var(--primary-bg);
    }
}

.arrow {
    width: 24px;
    padding: 15px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill: #fff;
    background-color: hsla(0, 0%, 100%, 0.15);
    cursor: pointer;
    z-index: 9999;

    &:hover {
        background-color: hsla(0, 0%, 100%, 0.11);
    }
}

.arrow--left {
    left: 5px;
}

.arrow--right {
    left: auto;
    right: 5px;
}

.arrow--disabled {
    fill: rgba(255, 255, 255, 0.5);
}
