.wrapper {
}
.slider_slick {
}
.content_container {
    margin-top: 20px;
}

.loading {
    width: 100%;
    height: calc(100vh - 240px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-blur-bg); 
    filter: brightness(50%);
}
