.header_title {
    display: flex;
    align-items: center;
    font-size: 35px;
    padding: 20px 0;
    margin-top: 20px; 

    .title_section{ 
        margin-right: 10px; 
        white-space: nowrap;
    }
}
