.wrapper {
    box-shadow: 0 3px 5px var(--primary);
    position: fixed;
    border-bottom: solid 1px transparent;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
}
.inner {
    display: flex;
    align-items: center;
}
.button_controls_left {
    display: flex;
    align-items: center;
    color: var(--button-hide);
}
.icon-arrow-prev {
    margin-right: 20px;
}
.icon-arrow-next {
    margin-right: 20px;
}
