.wrapper {
    position: fixed;
    height: 70px;
    padding: 15px;
    right: 0;
    width: calc(100% - 240px);
    @media (max-width: 1130px) {
        // tablet
        width: calc(100% - 70px);
    }
    z-index: 9998;
    backdrop-filter: blur(50px);
    background: linear-gradient(
        transparent,
        transparent 50%,
        var(--layout-header-bg) 50%,
        var(--layout-header-bg)
    );
    background-size: 100% 200%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transition: background-position 0.4s;

    &.isScroll {
        backdrop-filter: blur(50px);
        background-position: -100% -100%;
        transition: background-position 0.4s;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
}
.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .button_controls_left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: var(--button-hide);
        margin-right: 10px;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;

        .search_form {
            width: 100%;
            max-width: 440px;
            position: relative;
        }
    }
    .button_controls_right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 0;
    }
}

.icon-arrow-prev {
    margin-right: 20px;
}
.icon-arrow-next {
    margin-right: 20px;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--text-primary);
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        filter: brightness(0.9);
    }
}

//custom header_account
.wrapper_header_account {
    box-shadow: none;
    padding: var(--padding-section);
    display: flex;
}
