.wrapper {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    border-bottom: solid 1px transparent;
    height: 70px;
    padding: 15px 0;
    width: calc(100% - 240px);
    z-index: 1;
    padding: 15px 60px;
    backdrop-filter: blur(50px);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

    ::before {
        width: 100%;
    }
}
.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .button_controls_left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: var(--button-hide);
        margin-right: 10px;
        flex-grow: 1;
    }
    .button_controls_right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
}

.icon-arrow-prev {
    margin-right: 20px;
}
.icon-arrow-next {
    margin-right: 20px;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--text-primary);
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        filter: brightness(0.9);
    }
}

//custom header_account
.wrapper_header_account {
    box-shadow: none;
    padding: 0 60px;
    display: flex;
}
