.wrapper {
    background-color: rgba(41, 21, 71, 0.8);
}
// Header Account Page
.header_account_page {
    height: 300px;
    .header_box {
        padding: var(--padding-section);
    }
    padding-top: 135px;
    .box_singer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .image_singer {
        width: 140px;
        height: 140px;
        border-radius: 100px;
        margin-right: 40px;
    }
    .singer_info {
        display: flex;
        flex-direction: column;
    }
    .singer_name {
        font-size: 28px;
        font-weight: 600;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .extra_title {
        font-size: 14px;
        margin-top: 20px;
        font-weight: 500;
    }
}

//content Account Page
.content_account_page {
    background-color: var(--primary);
    height: 1000px;

    .container_songs_popular {
        width: 100%;
        background-color: var(--primary);
        padding: var(--padding-section);
    }
    .title_section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 25px 10px;
        .title_main {
            font-size: 20px;
            font-weight: 600;
        }
        .list_songs_section {
            font-size: 13px;
            font-weight: 400;
            color: var(--text-secondary);

            & span {
                color: var(--text-secondary);
                margin-right: 5px;
            }
        }
    }

    .list_songs {
        display: grid; 
        grid-template-columns: repeat(2,1fr); 
        column-gap: 28px;
    } 
    
}

// loading animation page
.loading {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-loading);
    opacity: 0.5;
}
