.wrapper {
    background-color: var(--primary-bg);
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    width: 240px;
    overflow: overlay;
    z-index: 101;
}
.menu_items {
    padding: 10px 8px;
}
.items {
    height: 44px;
    position: relative;
    display: flex;
    align-items: center;
    &:hover {
        background-color: var(--hover-blur-bg);
        border-radius: 4px;
    }
}
.icon {
    color: var(--search-text);
}
.item_title {
    font-size: 14px;
    color: var(--search-text);
    font-weight: 500;
}

.textblur {
    .icon {
        color: var(--text-blur);
    }
    .item_title {
        font-size: 14px;
        font-weight: 400;
        color: var(--text-blur);
    }
    &:hover span {
        color: var(--text-primary);
        font-weight: 400;
    }
}
