.wrapper {
    background-color: var(--primary-bg);
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    width: 240px;
    overflow: overlay;
    z-index: 101;
}
.menu_items {
    padding: 10px 0;
}
.items { 
    height: 44px;
    position: relative;
    &:hover {
        background-color: var(--hover-blur-bg);
    }
}
.icon {
    color: var(--search-text);
}
.item_title {
    font-size: 14px;
    color: var(--search-text);
    font-weight: 500;
}

//custom border on button menu
.spederate {
    border-top: 1px solid #493961;
    width: 100%;
}
.textblur {
    .icon {
        color: var(--text-blur);
    }
    .item_title {
        font-size: 14px;
        font-weight: 500;
        color: var(--text-blur);
    }
    &:hover span {
        color: var(--text-primary);
    }
}
