.wrapper {
    height: 1000px;
}

.title_section {
    margin: 20px 0;
}
.container_singer_popular {
    display: flex;
    gap: 28px;
    margin-top: 20px;
    .item {
        width: 20%;

        .item_title {
            font-size: 14px;
            padding: 10px 0;
            border-radius: 4px;

            &:hover {
                color: var(--purple-primary); 
            }
        }
        .item_extra_title {
            font-size: 14px;
            color: var(--text-secondary);

            &:hover {
                color: var(--purple-primary);
                text-decoration: underline;
            }
        }
    }
}
