.wrapper {
    display: flex;
    overflow: hidden;
    height: calc(100vh - 90px);
}
.sidbar {
    height: calc(100vh - 90px);
    width: 240px;
    background-color: var(--sidebar-bg);
}
.main_page {
    flex: 1;
    width: calc(100% - 240px);
    background-color: var(--primary);
    overflow: hidden scroll;
}
.header_main_page {
    background-color: transparent;
    box-shadow: none;
    border: none;
}
//style config
