.item_title {
    font-size: 14px;
    padding: 10px 0;
    border-radius: 4px;
    text-transform: none;
    margin-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    &:hover {
        color: var(--purple-primary);
    }
}
.item_extra_title    {
    font-size: 14px;
    color: var(--text-secondary);
    text-transform: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.item_extra_title a:hover {
    color: var(--purple-primary);
    text-decoration: underline;
} 

.item_card {
    position: relative;
    .item_img {
        overflow: hidden;
        border-radius: 5px;
        img {
            transition: all linear 0.35s;
        }
    }

    .item_action_hover {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        gap: 10px;
        z-index: 99;
        .size_icon {
            font-size: 18px;
        }
    }
}
.isHover img {
    transform: scale(1.1);
    transition: all linear 0.25s;
    filter: brightness(70%);
}

.title_section {
    margin: 20px 0;
}
