.wrapper {
    position: fixed;
    width: 240px;
    top: 0;
    bottom: 0;
    background-color: var(--sidebar-bg); 
}
.logo {
    width: 120px;
    height: 40px;
    background: url('https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg')
        50% / contain no-repeat;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px; 
}
.menu_main {
    display: flex;
    flex-direction: column;
}
.sidebar_item {
    width: 100%;
    font-size: 13px;
    font-weight: 700;
    &.sidebar_item:hover a {
        color: var(--purple-primary);
    }
    &.sidebar_item a {
        color: var(--search-text);
        border-left: 3px solid transparent;
    }
}
.sidebar_item.isActive a {
    background-color: var(--hover-blur-bg);
    color: var(--text-primary) !important;
    border-left: 3px solid var(--purple-primary);
}
